@import "../less/px2rem.less";
@import "./common.less";
.home{
    .swiper{
        .px2rem(600);
        height: @px2rem;
        overflow: hidden;
    }
    .swiper{
        .px2rem(1100);
        width: @px2rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}