body {
  background-color: #F5F7FA;
  width: 100%;
  height: 100%;
  font-size: 0.29866667rem;
}
.home .swipers {
  padding-top: 2.09066667rem;
}
.home .swipers .swiper {
  height: 10.66666667rem;
  overflow: hidden;
}
.home .swipers .swiper {
  width: 23.46666667rem;
}
.home .swipers .swiper img {
  width: 100%;
  height: 100%;
}
.home .nav {
  background-color: #ffffff;
}
.home .nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home .nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.64rem 0;
}
.home .nav ul li img {
  width: 2.13333333rem;
  height: 2.13333333rem;
  display: block;
}
.home .nav ul li span {
  font-size: 0.46933333rem;
  color: #333;
}
.home .nav ul li span {
  padding-top: 0.21333333rem;
}
.home .bodyblock {
  margin-top: 0.42666667rem;
}
.home .bodyblock .block-active ul .items {
  width: 100%;
  padding: 0 0.64rem 0.64rem 0.64rem;
  background-color: #ffffff;
  margin-top: 0.64rem;
}
.home .bodyblock .block-active ul .items .title {
  height: 1.92rem;
  display: flex;
  align-items: center;
}
.home .bodyblock .block-active ul .items .title img {
  width: 2.77333333rem;
}
.home .bodyblock .block-active ul .items .title img {
  height: 1.06666667rem;
}
.home .bodyblock .block-active ul .items .title span {
  font-size: 0.34133333rem;
  color: #999999;
}
.home .bodyblock .block-active ul .items .title span {
  padding-left: 0.42666667rem;
}
.home .bodyblock .block-active ul .items .content {
  padding-top: 0.21333333rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .bodyblock .block-active ul .items .content li {
  width: 49%;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  padding: 0.42666667rem 0;
}
.home .bodyblock .block-active ul .items .content li:nth-child(2n) {
  padding-left: 0.42666667rem;
}
.home .bodyblock .block-active ul .items .content li img {
  width: 2.56rem;
  height: 2.56rem;
}
.home .bodyblock .block-active ul .items .content li img {
  margin-top: 0.21333333rem;
}
.home .bodyblock .block-active ul .items .content li .rt {
  width: 76%;
  padding-left: 0.42666667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .bodyblock .block-active ul .items .content li .rt .smallTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: #333;
  font-size: 0.46933333rem;
}
.home .bodyblock .block-active ul .items .content li .rt .smallTitle {
  padding-bottom: 0.21333333rem;
}
.home .bodyblock .block-active ul .items .content li .rt .introduce {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #666;
}
.home .bodyblock .block-active ul .items {
  padding-top: 0.32rem;
}
.home .bodyblock .recommend {
  margin-top: 0.64rem;
  background-color: #ffffff;
  width: 100%;
}
.home .bodyblock .recommend img {
  width: 100%;
  height: 100%;
}
.home .bodyblock .recommend {
  height: 2.13333333rem;
}
.home .bodyblock .hot-sale {
  margin-top: 0.64rem;
  background-color: #ffffff;
}
.home .bodyblock .hot-sale .title {
  height: 2.56rem;
  line-height: 2.56rem;
}
.home .bodyblock .hot-sale .title {
  font-size: 0.93866667rem;
  font-weight: 700;
}
.home .bodyblock .hot-sale .title {
  padding-left: 0.85333333rem;
}
.home .bodyblock .hot-sale .title span {
  border-left: 0.21333333rem solid #ff190b;
}
.home .bodyblock .hot-sale .title span {
  padding-left: 0.64rem;
  color: #FF5A27;
}
.home .bodyblock .hot-sale .sale-bodyblock ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li {
  box-sizing: border-box;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.64rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li img {
  width: 6.4rem;
  height: 6.4rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li p {
  color: #333333;
  margin: 0 0.72533333rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li p {
  margin-top: 0.42666667rem;
  margin-bottom: 0.42666667rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 0.72533333rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt .mark,
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt .price {
  color: #F40;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt .mark {
  font-size: 0.256rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt .price {
  font-size: 0.85333333rem;
}
.home .bodyblock .hot-sale .sale-bodyblock ul li .hot-bt .volume {
  font-size: 0.256rem;
  color: #999999;
}
.home .bodyblock .hot-sale .sale-bodyblock ul:after {
  content: "";
  height: 0;
  width: 33.33%;
}
.home .bodyblock {
  padding-bottom: 3.62666667rem;
}
.my {
  background-color: #EBEFF8;
}
.my .bodyblock {
  padding-top: 2.09066667rem;
}
.my .bodyblock .top {
  height: 8.53333333rem;
  width: 100%;
}
.my .bodyblock .top {
  background: url("../images/bg.jpg") no-repeat -10.66666667rem 0px;
}
.my .bodyblock .top .actor {
  padding: 2.13333333rem;
}
.my .bodyblock .top .actor {
  padding-left: 3.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.my .bodyblock .top .actor .set-avator {
  position: relative;
  width: 6.4rem;
}
.my .bodyblock .top .actor .set-avator {
  position: relative;
  height: 4.26666667rem;
}
.my .bodyblock .top .actor .set-avator input {
  height: 4.26666667rem;
  width: 4.26666667rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
}
.my .bodyblock .top .actor .set-avator img {
  height: 4.26666667rem;
  width: 4.26666667rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.my .bodyblock .top .actor .text {
  padding-left: 0.98133333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my .bodyblock .top .actor .text .user-name {
  font-size: 0.98133333rem;
}
.my .bodyblock .top .actor .text .user-name {
  padding-bottom: 0.42666667rem;
}
.my .bodyblock .top .actor .text .sign {
  color: #333333;
}
.my .bodyblock .order {
  background-color: #fff;
}
.my .bodyblock .order .order-top {
  height: 2.304rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my .bodyblock .order .order-top {
  padding: 0 0.64rem;
  border-bottom: 1px solid #e8e8e8;
}
.my .bodyblock .order .order-top .left {
  color: #333333;
  font-size: 0.768rem;
  font-weight: 700;
}
.my .bodyblock .order .order-top .right {
  color: #999;
  font-size: 0.42666667rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my .bodyblock .order .order-top .right span {
  font-size: 0.34133333rem;
}
.my .bodyblock .order .order-top .right img {
  width: 0.42666667rem;
  margin-left: 0.42666667rem;
}
.my .bodyblock .order .order-top .right img {
  height: 0.74666667rem;
  display: block;
}
.my .bodyblock .order .order-bt .order-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.584rem;
}
.my .bodyblock .order .order-bt .order-ul .order-li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my .bodyblock .order .order-bt .order-ul .order-li img {
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.my .bodyblock .order .order-bt .order-ul .order-li span {
  color: #666;
  padding-top: 0.21333333rem;
}
.my .bodyblock .about {
  margin-top: 0.53333333rem;
}
.my .bodyblock .about .about-ul {
  background-color: #fff;
}
.my .bodyblock .about .about-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.73066667rem;
}
.my .bodyblock .about .about-li .left {
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my .bodyblock .about .about-li .left img {
  width: 1.28rem;
  height: 1.28rem;
}
.my .bodyblock .about .about-li .right {
  height: 2.09066667rem;
}
.my .bodyblock .about .about-li .right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.98133333rem;
  color: #999;
  border-bottom: 1px solid #e8e8e8;
}
.my .bodyblock .about .about-li .right .lt {
  font-size: 0.55466667rem;
  color: #333;
}
.my .bodyblock .about .about-li .right .rt {
  padding: 0 0.64rem;
}
.my .bodyblock .about .about-li .right .rt img {
  width: 0.42666667rem;
}
.my .bodyblock .about .about-li .right .rt img {
  height: 0.74666667rem;
  display: block;
}
.my .bodyblock .about .about-li .noborder {
  border-bottom: 0 none;
}
.my .bodyblock .about .pay-resource {
  margin-top: 0.53333333rem;
  background-color: #fff;
}
.info {
  background: url('../../common/images/chat.jpg') 100% 100%;
  width: 100%;
  height: 100vh;
}
.category {
  padding-top: 2.09066667rem;
}
.category .nav {
  width: 100%;
  position: fixed;
  top: 2.09066667rem;
  left: 0;
}
.category .nav .tab-nav {
  width: 100%;
  overflow: scroll;
  z-index: 500;
}
.category .nav .tab-nav .tab-ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: start;
  height: 2.304rem;
  width: 335%;
  border-bottom: 1px solid #ece9e9;
  background-color: #fff;
}
.category .nav .tab-nav .tab-ul .tab-li {
  padding: 0 0.64rem;
  text-align: center;
}
.category .nav .tab-nav .tab-ul .tab-li {
  font-size: 0.85333333rem;
  color: #333;
}
.category .nav .tab-nav .tab-ul .tab-li {
  height: 2.304rem;
  line-height: 2.304rem;
}
.category .nav .tab-nav .tab-ul .active {
  color: #F85959;
}
.category .nav .tab-nav::-webkit-scrollbar {
  width: 0 !important;
}
.category .nav .tab-nav {
  -ms-overflow-style: none;
}
.category .nav .tab-nav {
  overflow: -moz-scrollbars-none;
}
.about {
  padding: 0.64rem;
  background-color: #fff;
}
.about .title {
  font-size: 0.98133333rem;
  font-weight: 700;
  text-align: center;
  color: #333;
}
.about ul {
  padding-top: 0.85333333rem;
}
.about ul li {
  line-height: 1.70666667rem;
  color: #333;
}
.about ul li .bigTitle {
  font-size: 0.85333333rem;
}
.about ul li .subTitle {
  padding-left: 0.64rem;
}
.cart {
  padding-bottom: 6.61333333rem;
}
.cart {
  width: 100%;
  height: 100%;
  padding-top: 2.56rem;
}
.cart .content .categorys {
  height: 2.56rem;
  line-height: 2.56rem;
  border-bottom: 1px solid #eee;
  background-color: #ffffff;
}
.cart .content .categorys {
  padding-left: 0.64rem;
}
.cart .content .categorys {
  font-size: 0.85333333rem;
  color: #333;
}
.cart .content .item {
  margin-bottom: 0.64rem;
}
.cart .content .item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.42666667rem;
  background-color: #fff;
}
.cart .content .item .btimg {
  width: 4.26666667rem;
  height: 4.26666667rem;
  display: block;
}
.cart .content .item .btimg {
  margin-right: 0.64rem;
}
.cart .content .item .delete-item {
  width: 2.56rem;
  background-color: #eeeeee;
}
.cart .content .item .delete-item {
  height: 2.56rem;
  line-height: 2.56rem;
  text-align: center;
}
.cart .content .item .delete-item {
  font-size: 0.768rem;
  color: #d42c2c;
}
.cart .content .item .item_wrap {
  flex: 1;
  padding-right: 0.64rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.cart .content .item .item_wrap .title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.42666667rem;
}
.cart .content .item .item_wrap .bottoms {
  display: flex;
  align-items: center;
}
.cart .content .item .item_wrap .bottoms .left {
  padding-right: 0.64rem;
}
.cart .content .item .item_wrap .bottoms .left {
  font-size: 0.85333333rem;
  color: #FD2842;
}
.cart .content .item .item_wrap .bottoms .operate {
  display: flex;
}
.cart .content .item .item_wrap .bottoms .operate span {
  display: block;
}
.cart .content .item .item_wrap .bottoms .operate .operate-click {
  padding: 0.32rem;
  border: 1px solid #ccc;
}
.cart .content .item .item_wrap .bottoms .operate .operate-click {
  padding-left: 0.64rem;
  padding-right: 0.64rem;
  font-size: 0.64rem;
}
.cart .content .item .item_wrap .bottoms .operate .operate-num {
  margin: 0 0.21333333rem;
  font-size: 0.21333333rem;
}
.cart .content .no-data {
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.98133333rem;
}
.cart .select_wrap {
  margin-right: 0.64rem;
}
.cart .select_wrap {
  width: 1.28rem;
  height: 1.28rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .select_wrap img {
  width: 1.28rem;
  height: 1.28rem;
  display: block;
}
.cart .footer_wrap {
  padding: 0.42666667rem 0;
  padding-left: 0.42666667rem;
}
.cart .footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  position: fixed;
  bottom: 3.584rem;
  left: 0;
  width: 100%;
}
.cart .footer_wrap .wrap-lt {
  display: flex;
  align-items: center;
}
.cart .footer_wrap .wrap-lt .lts .allselect {
  padding-top: 0.21333333rem;
  font-size: 0.21333333rem;
  color: #666;
}
.cart .footer_wrap .wrap-lt .rts {
  font-size: 0.91733333rem;
  color: #333;
}
.cart .footer_wrap .wrap-lt .rts {
  padding-left: 0.64rem;
}
.cart .footer_wrap .wrap-lt .rts span {
  color: #FD2842;
}
.cart .footer_wrap .wrap-rt {
  padding: 0.42666667rem 0;
  background-color: #FD2842;
  margin-right: 0.42666667rem;
}
.cart .footer_wrap .wrap-rt {
  padding-left: 1.06666667rem;
  padding-right: 1.06666667rem;
  color: #ffffff;
}
.cart .footer_wrap .wrap-rt {
  font-size: 0.98133333rem;
}
