@import '../../common/fonts/iconfont.css';
body {
  background-color: #F5F7FA;
  width: 100%;
  height: 100%;
  font-size: 0.29866667rem;
}
.headers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.09066667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39A6FD;
  color: #ffffff;
  z-index: 100;
}
.headers .margin-ft {
  padding: 0 0.42666667rem;
}
.headers .title {
  font-size: 1.06666667rem;
}
.nav-slide {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  widows: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 2.09066667rem;
  z-index: 99;
}
