body {
  background-color: #F5F7FA;
  width: 100%;
  height: 100%;
  font-size: 0.29866667rem;
}
.footer {
  width: 100%;
  padding: 0.42666667rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.footer .foot-ul {
  display: flex;
  justify-content: space-between;
}
.footer .foot-ul .foot-item {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer .foot-ul .foot-item img {
  width: 1.70666667rem;
  height: 1.70666667rem;
}
.footer .foot-ul .foot-item span {
  color: #333;
}
