@import '../../common/fonts/iconfont.css';
body {
  background-color: #F5F7FA;
  width: 100%;
  height: 100%;
  font-size: 0.29866667rem;
}
.news {
  margin-bottom: 3.41333333rem;
}
.news {
  position: fixed;
  top: 2.09066667rem;
  width: 100%;
  height: 100%;
}
.news .search {
  width: 100%;
  height: 2.09066667rem;
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #e6e4e4;
}
.news .search .icon {
  height: 100%;
  width: 2.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .search .icon img {
  width: 1.06666667rem;
  height: 1.06666667rem;
  display: block;
}
.news .search input {
  border: 0 none;
  width: 90%;
  height: 100%;
  font-size: 0.896rem;
  background: rgba(255, 255, 255, 0.1);
  color: #757575;
}
.news .chat .top {
  display: flex;
  line-height: 2.09066667rem;
  border-bottom: 1px solid #e6e4e4;
}
.news .chat .top .item {
  width: 50%;
  text-align: center;
  font-size: 0.85333333rem;
  color: #333333;
}
.news .chat .top .active {
  color: #F85959;
}
